
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: lighter;
    color: #0ccac4;
}


.flipcard{
  width: 20rem;
  height: 25rem;
}

.space{
  margin-left: 20px;
  margin-right: 20px;
}

.card-side {
  position: fixed;
  text-align: left;
}